---
layout: none
---
[{% assign news = site.data.openapi-news %}{% assign news = news | sort: 'name' %}{% for entry in news %}
{
   "name": "{{ entry.name | strip_html | replace: '"','' | escape }}",
   "snippet": "{{ entry.snippet | strip_html | replace: '"','' | escape }}",
   "url": "{{ entry.url }}",
   "domain": "{{ entry.domain }}",
   "keep": "{{ entry.keep }}",
   "ignore": {{ entry.ignore }},
   "new": {{ entry.new }}
}{% if forloop.last == true %}{% else %},{% endif %}
{% endfor %}]
